body {
    background-color: #3b3b3b;
    margin: 0;
    padding: 0;
}

.block {
    width: 50%;
    margin: auto;
    margin-top: 25vh;
}

button {
    margin: auto;
    display: block;
    width: 300px;
    height: 100px;
    background-color: #23d0c8;
    font-size: 48px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all 300ms ease;
}

button:hover {
    background-color: #1ba8a1;
}

.text {
    margin-top: 50px;
    background-color: #b1b1b1;
    height: 0;
    width: 300px;
    text-align: center;
    margin: auto;
    color: white;
    line-height: 1.4;

    overflow: hidden;
    transition: all .5s ease 0s;
}

p {
    border: 1px solid white;
    padding: 30px;
}

.active {
    height: 200px;
    transition: height .5s ease;
}


